@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 0% 78%;
    --secondary: 201.529 73% 55%;
    --tertiary: 201 48% 17%;

    --font-inconsolada: "Inconsolata", monospace;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #f7f6f6;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  @apply dark:bg-[#12181d];
}

/* @apply dark:bg-[#001933] */

::-webkit-scrollbar {
  display: none;
}

.font-inconsolada {
  font-family: var(--font-inconsolada);
}
